.portfolio_narracion_titulo{
    text-align: center;
    margin-top: 15px;
}

.portfolio_narracion_videos{
    padding: 25px 0px 45px 0px;
}

.portfolio_conduccion_titulo{
    text-align: center;
}

.portfolio_conduccion_videos{
    padding: 25px 0px 45px 0px;
}

.portfolio_presentacion_titulo{
    text-align: center;
}

.portfolio_presentacion_videos{
    padding: 25px 0px 45px 0px;
}